* {
    box-sizing: border-box;
}


/* all fonts */
/* Noto serif */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    /* font-variation-settings:
    "wdth" 100; */
}

/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



/* navbar section */

.navbar-section {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    max-height: 71px;
    margin: 0 auto;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 120px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.nav-color1 {
    color: rgba(37, 36, 50, 1);
}

.nav-color2 {
    color: rgba(137, 135, 161, 1);
}

.card-icon {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 1);
}

.card-icon2 {
    width: 40px;
}

/* banner section */

.banner {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    max-width: 1140px;
    max-height: 460px;
    margin: 0 auto;
}

.banner-section {
    max-width: 570px;
    max-height: 290px;
    padding-top: 100px;
}

.paragraph {
    font-size: 1.22rem;
    color: rgba(0, 0, 0, 0.5);
}

.banner-text,
.banner-text1 {
    font-size: 4rem;
}

.banner-text1 {
    color: #E95A08;
}

.banner-image {
    max-width: 570px;
    max-height: 350px;
    padding-top: 85px;
}

/* plants section */
.plants-section {
    margin: 0 auto;
    max-width: 1140px;
    padding-top: 120px;
}

.plants-sub-section {
    text-align: center;
    max-width: 888px;
    max-height: 54px;
    margin: 0 auto;
}

.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.plant-text {
    color: rgba(0, 0, 0, 1);
    font-size: 3rem;
    font-weight: 700;
}

.plant-text1 {
    color: #E95A08;
    font-size: 3rem;
    font-weight: 700;
}

.plant-paragraph {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.22rem;
}

.card-subtitle {
    text-align: center;
}

.card-image {
    max-width: 270px;
    max-height: 322px;
}

.card-name {
    font-size: 1.22rem;
    font-weight: 600;
    color: rgba(17, 17, 17, 1);
}

.card-price {
    font-size: 1.22rem;
    font-weight: 700;
    color: rgba(17, 17, 17, 1);
}

.card-btn {
    background-color: #E95A08;
    width: 270px;
    height: 30px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    border: none;
}

/* lover plants */
.plants-lover {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    /* gap: 20px; */
}

.left-image {
    width: 100%;
    position: relative;
}
.top-icon {
    position: absolute;
    top: -130px;
    left: 370px;
    width: 50%;
}
.right-paragraph{
    max-width: 540px;
    max-height: 520px;
    padding: 40px;
}
.right-header{
    color: rgba(0, 0, 0, 1);
    font-size: 3rem;
    font-weight: 700;
}
.right-paragraph li{
    color: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    font-size: 1.22rem;
}
/* challenge section */
.challenge-section {
    max-width: 1440px;
    max-height: 138px;
    margin: 0 auto;
    text-align: center;
}

.btn-image {
    width: 160px;
    height: 160px;
}

.challenge-title {
    color: #E95A08;
    font-size: 3rem;
    font-weight: 700;
}

.challenge-subtitle {
    color: rgba(0, 0, 0, 1);
    font-size: 3rem;
    font-weight: 700;
}

.deal-paragraph {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.22rem;
}
/* challenge 2nd part */

.container {
   display: flex;
}
.left-column {
    display: flex;
    flex-direction: column;
    width: 406px;
    height: 306px;
    gap: 20px;
    flex: 1;
}

.right-column {
    flex: 2;
}
.image-box {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.text-overlay a {
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.122rem;
    color: white;
}
/* .image-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    position: relative;
    width: 306px;
    height: 175px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.image-container img {
    width: 100%;
    height: auto;
    display: block;
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}
.text-overlay a{
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    justify-content: center;
    text-align: center;
    align-items: center;
} */

/* example 2 */

/* .deal{
    display: flex;
    justify-content: space-around;
    max-width: 1140px;
    margin: 0 auto;
    background-position: center;
    text-align: center;
    align-items: center;
    color: white; 
} */
/* .card-deal{
    margin-top: -15px;
}
.deal a{
    color: white;
}
h2 a {
    position: absolute;
    
}
.card1{
    background-image: url(../assets/deal-ana.png);
    width: 306px;
    height: 200px;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
}
.card2{
    background-image: url(../assets/deal-bloom.png);
    width: 306px;
    height: 200px;
    background-size: cover;
    border-radius: 10px;
}
.card3{
    background-image: url(../assets/deal-zabo.png);
    width: 753px;
    height: 425px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
} */
/* card section */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-width: 1140px;
    max-height: 420px;
    margin: 0 auto;
}
.card-relative {
    position: relative;
    width: 100%;
    border: 2px solid brown;
}
.card-relative{
    position: relative;
}
.card-absolute {
    position: absolute;
}

/* join section */

.background {
    background-image: url(../assets/news-letter-bg.png);
    max-width: 1440px;
    max-height: 533px;
    width: 1440px;
    height: 530px;
    border: 1px solid #E95A08;
    text-align: center;
    padding-top: 40px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 50px;
}

/* footer */
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1120px;
    max-height: 248px;
    gap: 30px;
    margin: 0 auto;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    gap: 30px;
}

ul a {
    text-decoration: none;
}

.footer-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    align-items: first baseline;
}